<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Portfolio | {{user.username}}</title>
</head>

<body class="bg-gray-100">
    <h1 class="text-3xl text-center mt-5 font-bold text-teal-600">{{user.name}}'s Portfolio</h1>
    <div class="content my-5 mx-5 flex">
        <div class="bg-gray-200 max-w-sm rounded overflow-hidden shadow-lg my-5 mx-5">
            <img class="w-full" src="static/img/fotis-fotopoulos-6sAl6aQ4OWI-unsplash.jpg"
                alt="Sunset in the mountains">
            <div class="px-6 py-4">
                <div class="font-bold text-xl mb-2">Python</div>
            </div>
            <div class="px-6 pb-2">
                <span
                    class="inline-block bg-gray-300 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#programming-language</span>
            </div>
        </div>
        <div class="bg-gray-200 max-w-sm rounded overflow-hidden shadow-lg my-5 mx-5">
            <img class="w-full" src="static/img/fotis-fotopoulos-6sAl6aQ4OWI-unsplash.jpg"
                alt="Sunset in the mountains">
            <div class="px-6 py-4">
                <div class="font-bold text-xl mb-2">SQLite</div>
            </div>
            <div class="px-6 pb-2">
                <span
                    class="inline-block bg-gray-300 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#database</span>
            </div>
        </div>
        <div class="bg-gray-200 max-w-sm rounded overflow-hidden shadow-lg my-5 mx-5">
            <img class="w-full" src="static/img/fotis-fotopoulos-6sAl6aQ4OWI-unsplash.jpg"
                alt="Sunset in the mountains">
            <div class="px-6 py-4">
                <div class="font-bold text-xl mb-2">Google Data Studio</div>
            </div>
            <div class="px-6 pb-2">
                <span
                    class="inline-block bg-gray-300 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#dashboard</span>
            </div>
        </div>
        <div class="bg-gray-200 max-w-sm rounded overflow-hidden shadow-lg my-5 mx-5">
            <img class="w-full" src="static/img/fotis-fotopoulos-6sAl6aQ4OWI-unsplash.jpg"
                alt="Sunset in the mountains">
            <div class="px-6 py-4">
                <div class="font-bold text-xl mb-2">Web Scraping</div>
            </div>
            <div class="px-6 pb-2">
                <span
                    class="inline-block bg-gray-300 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#data-acquisition</span>
            </div>
        </div>
    </div>
</body>

</html>